.icon-wapper {
    width: 1em;
    height: 1em;
    overflow: hidden; 
    margin: 0.5em 1em;
    display: inline-block;
  }
    .icon-wapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
 .social  {
     width: 1em;
     height: 1em;
     color:#009FB7;
 }
.social:hover {
color: #292929;
}