.code {
  line-height: 30px;
  max-width: 1000px;
  background-color: rgb(38, 144, 194);
  color:rgb(231, 231, 231);
  border: 1px solid rgb(38, 144, 194);
  border-radius: 5px;
  margin: 2px 5px;
  padding: 0 5px;

}